@model SMS.BOL.StudentInfo

@{
    ViewBag.Title = "Details";
}

<h3>Student Details</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:yyyy-MM-dd}", Model.DOB))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="../../Images/@(Model.Id.ToString()+"_"+Model.Image)" width="100px" />
        </dd>

        <dt>
           Roll No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNo)
        </dd>
        <dt>
            Class Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.ClassName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
