@model IEnumerable<SMS.BOL.PaymentDetail>

@{
    ViewBag.Title = "PaymentDetailsByStudent";
}

<h2 class="text-center">Student Payment Details</h2>
<h4 class="text-center">@ViewBag.StudentName</h4>
<p class="text-center">@ViewBag.Grade</p>
<p>
    @Html.ActionLink("Add Payment", "AddPaymentByStudent", new { id = ViewBag.StudentId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TuitionFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentInfo.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TuitionFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentInfo.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
