@model IEnumerable<SMS.BOL.StudentInfo>

@{
    ViewBag.Title = "Attendance Sheet";
}

<h2>Attendance Sheet</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RollNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            <img src="../../Images/@(item.Id.ToString()+"_"+item.Image)" width="100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RollNo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Grade.ClassName)
        </td>
        <td>
            @if (item.Attendances.Any(a => a.AttendanceDate != DateTime.Now))
            {
                <button class="disabled btn btn-default">Attended</button>
            }
            else
            {
                @Html.ActionLink("Attend", "Attend", new { id = item.Id }, new { @class = "btn btn-info" })
            }
            
        </td>
    </tr>
}

</table>
